# Required
WOO_STORE_URL="https://your-store.example.com"
WOO_SESSION_SECRET="replace-with-at-least-32-random-characters"

# Optional
# NEXT_PUBLIC_BASE_URL="your-domain.com"
# WOO_REVALIDATE_SECRET="your-webhook-secret-here"
